# Go bin directories
bin/
build/
dist/

# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Vendor directory (если будешь использовать Go Modules vendor)
vendor/

# IDE
.idea/
*.iml
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Env files
.env
.env.*
